---

---

<main class="bg-light cursor-default">
  <section id="hero" class="flex items-center bg-porto-hero bg-cover bg-bottom h-screen">
    <div class="max-w-screen-xl mx-auto px-4 text-center">
      <h1 class="text-6xl font-medium mb-5">fmt.println("<span class="text-primary">Hi There!</span>")</h1>
      <p>
        I am a lifelong learner who loves to build things.<br/>
        For me the most challenging problems are equally rewarding.<br/>
        Currently work on email company called mailtarget
      </p>
    </div>
  </section>
  <section id="about" class="max-w-screen-xl mx-auto py-28">
    <div class="relative mb-5">
      <div class="absolute w-full top-2">
        <p class="text-2xl text-primary font-medium text-center uppercase">Tech Stack</p>
        <div class="relative mx-auto">
          <div class="absolute left-1/2 -translate-x-1/2 border-2 border-neutral-300 w-1/6" />
          <div class="absolute left-1/2 -translate-x-1/2 border-2 border-primary w-1/12" />
        </div>
      </div>
      <h1 class="text-8xl select-none text-neutral-200 font-bold text-center uppercase">Tech Stack</h1>
    </div>
    <div class="flex justify-center gap-72">
      <div>
        <div class="mb-4">
          <h3 class="text-2xl font-medium mb-1">Language</h3>
          <p>JavaScript</p>
          <p>TypeScript</p>
          <p>Go</p>
          <p>PHP</p>
          <p>Kotlin</p>
          <p>GDScript</p>
          <p>Pascal</p>
          <p>C++</p>
        </div>
      </div>
      <div>
        <div class="mb-4">
          <h3 class="text-2xl font-medium mb-1">Backend Framework</h3>
          <p>Gin</p>
          <p>Express</p>
          <p>Laravel</p>
        </div>
        <div class="mb-4">
          <h3 class="text-2xl font-medium mb-1">Frontend Framework</h3>
          <p>Vue</p>
          <p>React</p>
          <p>Svelte</p>
          <p>Astro</p>
        </div>
      </div>
    </div>
  </section>
</main>